.full-contact {
  position: relative;

  &-header {
    position: relative;
    text-align: center;
    margin-bottom: 40px;

    &-image {
      width: 130px;
      height: 130px;
      border: 2px solid darkblue;
      border-radius: 10px;
      margin: 0 auto 10px;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
    }

    &-name {
      margin: 20px auto 10px;
      font-size: 28px;
      position: relative;

      &-value {
        display: inline-block;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 300px;
      height: 3px;
      background-color: #333333;
    }

    .buttons-area {
      text-align: left;
      display: inline-block;
      width: 100px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 80%;

      button {
        border: none;
        font-size: 18px;
        padding: 5px 10px;
        cursor: pointer;

        &.edit-btn {
          color: green;
        }
        &.edit-off {
          color: red;
        }
        &.edit-on {
          color: green;
        }

        &:hover {
          background-color: #dddddd;
        }
        &:focus {
          border: none;
          outline: none;
        }
      }
    }

    .edit-input {
      width: 220px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 80px;
    }
  }

  &-info {
    width: 85%;
    margin: 0 auto;
    font-size: 16px;

    .label {

    }
    .value {
      padding-right: 40px;
    }

    .edit-input {
      width: 220px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 40px;
    }

    &>div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      position: relative;

      .buttons-area {
        width: 100px;
        display: flex;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 90%;

        &>button {
          border: none;
          font-size: 18px;
          padding: 5px 10px;
          cursor: pointer;

          &:hover {
            background-color: #dddddd;
          }
          &:focus {
            border: none;
            outline: none;
          }
        }

        .edit-btn {
          color: green;
        }
        .edit-off {
          color: red;
        }
      }

      .confirm-erase-window {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 70px;
        background-color: #EEEEEE;

        div {
          display: inline-block;
          margin-right: 40px;
        }

        button {
          border: 1px solid #333333;
          border-radius: 5px;
          padding: 3px 10px;
          cursor: pointer;

          &.erase-yes {
            margin-right: 15px;
            border-color: red;
            background-color: orangered;
            &:hover {
              background-color: rgba(255, 69, 0, 0.7);
            }
          }
          &.erase-no {
            border-color: forestgreen;
            background: lawngreen;
            &:hover {
              background-color: rgba(124, 252, 0, 0.7);
            }
          }
        }
      }
    }

    &-phone {

    }

    &-email {

    }

    &-address {

    }
  }

  .back-btn {
    position: absolute;
    top: -10px;
    left: 30px;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 50%;

    i {
      font-size: 30px;
      color: slateblue;
    }

    &:hover i{
      color: red;
    }
  }
  .roll-back {
    position: absolute;
    left: 30px;
    margin-top: 10px;
    padding: 8px 16px;
    border: 1px solid slateblue;
    border-radius: 10px;
    font-size: 20px;
    color: slateblue;
    background-color: palegreen;
    cursor: pointer;

    &:hover {
      background-color: orange;
    }
    &:disabled,
    &:disabled:hover {
      background-color: #EEEEEE;
      border-color: #EEEEEE;
      color: #EEEEEE;
    }
  }
}
